@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;1,700&display=swap');

body{
    margin: 0px;
    background-color: rgb(35, 0, 75);
    font-family: 'Noto Sans', sans-serif;
}

.main_forms{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.main_forms_cad{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.left_forms{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
   height: 20%;
   margin: 30px 30px;
}
.imagem{
    width: 70%;
    height: 80%;
    margin: 30px 30px;
}
.right_forms{
    color:  rgb(35, 0, 75);
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body_forms{
    background-color: rgba(253, 253, 253, 0.388);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    border-radius: 10px;
}
.body_forms_cad{
    background-color: rgba(253, 253, 253, 0.388);
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    margin: 30% 30%;
    border-radius: 15px;
    box-sizing: border-box;
}
.body_forms >h1{
    color:  rgb(35, 0, 75);
    font-weight: 800;
    margin: 0;
    text-align: center;
}
.body_forms_cad{
    width: 35%;
    height: 85%;
    background-color: rgba(253, 253, 253, 0.388);
    margin: 10px auto 10px auto;
    padding: 15px 15px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
.body_forms_cad >h1{
    color:  rgb(35, 0, 75);
    font-weight: 800;
    margin: 0;
}
form#POST{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

form#POST[class=cad]{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}
#form input.cad{
    justify-content: center;
    align-items: center;
    height: 6%;
    width: 80%;
    border-radius: 10px;
    padding: 10px 10px;
    border: 1px solid rgb(35, 0, 75);
    margin: 25px 35px;
    background-color: rgba(255,255,255,0.8);
    font-size: 12pt;
    font-family: Arial;
    outline: none;
    box-sizing: padding-box;
    text-align: center;
}
input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(35, 0, 75);
    background-color: rgba(255,255,255,0.8);
    font-size: 12pt;
    font-family: 'Noto Sans', sans-serif;
    outline: none;
    margin: 10px 0px;
}
input[type=submit]{
    width: 100%;
    height: 35px;
    text-align: center;
    background-color: rgb(35, 0, 75);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    outline: none;
    margin: 10px 0px;
    cursor: pointer;
}
input[type=submit]{
    width: 100%;
    height: 35px;
    text-align: center;
    background-color: rgb(35, 0, 75);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    outline: none;
    margin: 10px 0px;
    cursor: pointer;
}
form[class=edit]{
    display: inline-block;
    width: 50%;
    background-color: rgba(255,255,255,0.8);
    margin: 10%;
}
input[class=edit]{
    display: block;
    width: 80%;
    padding: 5;
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgb(35, 0, 75);
    background-color: rgba(255,255,255,0.8);
    font-size: 12pt;
    font-family: 'Noto Sans', sans-serif;
    outline: none;
}
input[class=edit_submit]{
    width: 30%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(79, 2, 167);
    color: white;
    border: none;
    cursor: pointer;
}
form > a{
    color: rgb(35, 0, 75);
    text-decoration: none;
    display: flex;
    text-align: center;
    size: 10px;
}
strong:hover{
    text-decoration: underline;
}
strong{
    color: rgb(35, 0, 75);
}
a:hover{
    text-decoration: underline;
}
::-webkit-input-placeholder{
    color: rgb(85, 85, 85);
}
::-moz-placeholder{
    color: black;  
}
::ms-input-placeholder{
    color: black;
}

#msg-sucesso{
    display: block;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(50, 205, 50, 0.7);
    border: 1px solid rgb(34, 139, 34);
    
}
.msg-erro{
    display: block;
    text-align: center;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(250, 128, 114, 0.7);
    border: 1px solid rgb(165, 42, 42);
}
