body{
  background-color: rgb(35, 0, 75);
}
.topo_site {
  background: rgb(35, 0, 75);
  color: white;
  padding: 10px;
}
.container{
  background: rgb(35, 0, 75);
  color: white;
}
.color1{
  background: rgb(35, 0, 75);
}