body{
  background-color: rgb(8, 5, 58);
}
.topo_site {
  background: rgb(8, 5, 58);
  color: white;
  padding: 10px;
}
.container{
  background: rgb(8, 5, 58);
  color: white;
}
.color1{
  background: rgb(8, 5, 58);
}